<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addCar()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>


  <ion-card *ngFor="let car of datas;let i = index">
    <ion-card-header>
      {{ car.name }}
    </ion-card-header>

    <ion-list>
      <button ion-item>
        <ion-icon name="cart" item-start></ion-icon>
        add fuel
      </button>

      <button ion-item>
        <ion-icon name="medical" item-start></ion-icon>
        add kiloometer
      </button>


      <button ion-item (click)="addPart(i)">
        <ion-icon name="paw" item-start></ion-icon>
        add part
      </button>

      <ion-item *ngIf="car.parts">
        <button ion-item *ngFor="let part of car.parts" (click)="openPart(part)">
          <ion-icon name="cafe" item-start></ion-icon>
          {{part.name}}
        </button>
      </ion-item>

      <button ion-item>
        <ion-icon name="beer" item-start></ion-icon>
        reports
      </button>


    </ion-list>
  </ion-card>

</ion-content>